# Adapted from MNE-Python (BSD 3-clause)
version: 2
jobs:
    build_docs:
      docker:
        - image: cimg/python:3.14.2
      steps:
        - checkout
        - run:
            name: Set BASH_ENV
            command: |
              echo "set -e" >> $BASH_ENV
              echo "BASH_ENV:"
              cat $BASH_ENV

        - restore_cache:
            keys:
              - pip-cache

        - run:
            name: Get Python running
            command: |
              pip install --user --upgrade --progress-bar off -r doc/requirements.txt

        - save_cache:
            key: pip-cache
            paths:
              - ~/.cache/pip

        # Build docs
        - run:
            name: make html
            command: |
              python -m sphinx doc _build

        # Save the outputs
        - store_artifacts:
            path: _build
            destination: html

        # Check for broken links
        - run:
            name: linkcheck
            command: |
              python -m sphinx doc _build -b linkcheck

workflows:
  version: 2

  default:
    jobs:
      - build_docs
