# from https://cibuildwheel.pypa.io/en/stable/setup/#github-actions
name: Build
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  release:
    types: [published]

concurrency:
    group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
    cancel-in-progress: true

jobs:
  build_wheels:
    name: ${{ matrix.os }} ${{ matrix.arch }} ${{ matrix.python}} wheels
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-15-intel]
        arch: [native]
        python: ["{cp310,pp310,pp311}"]
        # Split aarch64 across jobs because it uses emulation (slow)
        include:
          - os: ubuntu-latest
            arch: i686
            python: "{cp310,pp310,pp311}"
          - os: ubuntu-latest
            arch: aarch64
            python: "cp310"
          - os: ubuntu-latest
            arch: aarch64
            python: "pp310"
          - os: ubuntu-latest
            arch: aarch64
            python: "pp3{10,11}"
          - os: ubuntu-latest
            arch: aarch64
            python: "pp3{10,11}"
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      # Linux emulation for aarch64 support
      # https://cibuildwheel.pypa.io/en/stable/faq/#emulation
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: all
        if: runner.os == 'Linux' && matrix.arch == 'aarch64'
      - uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_ARCHS: "${{ matrix.arch }}"
          CIBW_BUILD: "${{ matrix.python }}-*"
      - uses: actions/upload-artifact@v6
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ matrix.arch}}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  # From https://cibuildwheel.pypa.io/en/stable/deliver-to-pypi/
  # and https://github.com/pypa/gh-action-pypi-publish?tab=readme-ov-file#trusted-publishing
  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: pipx run build --sdist
    - uses: actions/upload-artifact@v6
      with:
        name: cibw-sdist
        path: dist/*.tar.gz

  pypi-publish:
    name: Upload release to PyPI
    needs: [build_wheels, make_sdist]
    if: github.event_name == 'release' && github.event.action == 'published'
    environment:
      name: pypi
      url: https://pypi.org/p/rtmixer
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v7
      with:
        pattern: cibw-*
        path: dist
        merge-multiple: true
    - run: ls -al dist/*
    - uses: pypa/gh-action-pypi-publish@release/v1
